
[submodule "Render/3rdparty/volk"]
	path = Render/3rdparty/volk
	url = https://github.com/zeux/volk
[submodule "Core/3rdparty/entt"]
	path = Core/3rdparty/entt
	url = https://github.com/skypjack/entt
