[submodule "3rdparty/volk"]
	path = 3rdparty/volk
	url = https://github.com/zeux/volk
	branch = master

[submodule "3rdparty/entt"]
	path = 3rdparty/entt
	url = https://github.com/skypjack/entt
	branch = master